/* You can add global styles to this file, and also import other style files */
:root{
   --silver_white: #E5E2D9;
   --navy: #001D3D;
   --yellow: #ffbf1c;
   --red:#780000;
   --green: #254d32;
   --black: #03071e;
}

body {
   font-family: Arial, sans-serif;
   margin: 0; /* Remove default margin */
   padding: 0;
   background-color: var(--silver_white);
   color: var(--black);
}

a{
   text-decoration: none;
}

@font-face {
   font-family: 'Typewriter';
   src: url('./assets/Fonts/jmh_typewriter/Typewriter-Black.ttf') format('truetype');
}

@font-face {
   font-family: 'Typewriter-light';
   src: url('./assets/Fonts/jmh_typewriter/Typewriter.ttf') format('truetype');
}

@font-face {
   font-family: 'Typewriter-bold';
   src: url('./assets/Fonts/jmh_typewriter/Typewriter-Bold.ttf') format('truetype');
}


@font-face {
   font-family: 'Typewriter-thin';
   src: url('./assets/Fonts/jmh_typewriter/Typewriter-Thin.ttf') format('truetype');
}

