<!-- <div class="main-cnt">
   <h1>Suscription Form</h1>
   <div class="suscription-cnt">
      <form action="send">
         <div class="data-cnt">
            <label for="user">User name</label>
            <input type="text" name="user" id="">
         </div>

      </form>
   </div>
</div> -->

<div class="wrapper">
   <div class="card-switch">
       <label class="switch">
          <input type="checkbox" class="toggle">
          <span class="slider"></span>
          <span class="card-side"></span>
          <div class="flip-card__inner">
             <div class="flip-card__front">
                <div class="title">Log in</div>
                <form class="flip-card__form" action="">
                   <input class="flip-card__input interactive" name="email" placeholder="Email" type="email">
                   <input class="flip-card__input interactive" name="password" placeholder="Password" type="password">
                   <button type="button" routerLink="/" class="flip-card__btn interactive">Let`s go!</button>
                </form>
             </div>
             <div class="flip-card__back">
                <div class="title">Subscribe</div>
                <form class="flip-card__form" action="">
                  <input class="flip-card__input interactive" placeholder="Name" type="text">
                  <input class="flip-card__input interactive" name="email" placeholder="Email" type="email">
                  <input class="flip-card__input interactive" name="password" placeholder="Password" type="password">
                  <button type="button" routerLink="/" class="flip-card__btn interactive">Confirm!</button>
                </form>
             </div>
          </div>
       </label>
   </div>   
</div>
